@using MVCKutuphane.Models.EntityF
@model List<Yazarlar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Yazar Bölümü</h2>
<table class="table table-bordered table-hover table-responsive">

    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Detay</th>
        <th>Yazar Kitapları</th>
        <th>Silme</th>
        <th>Güncelleme</th>
    </tr>
    <tbody>
        @foreach (var y in Model)
        {
            <tr>
                <td>@y.Id</td>
                <td>@y.Ad</td>
                <td>@y.Soyad</td>
                <td>@y.Detay</td>
                <td><a href="/Yazar/KitapListele/@y.Id" class="btn btn-info">Listele</a></td>
                <td>@Html.ActionLink("Sil", "YazarSil", new { id = y.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor musunuz?')" })</td>
                <td><a href="/Yazar/YazarGetir/@y.Id" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </tbody>

</table>
<a href="/Yazar/YazarEkle" class="btn btn-primary">Yeni Yazar Ekleme</a>

