@using MVCKutuphane.Models.EntityF
@model List<Kitaplar>
@{
    ViewBag.Title = "KitapListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h2 class="text-center">@ViewBag.yazarAd'ın Kitapları</h2>
<table class="table table-bordered table-hover">
    <tr class="bg-dark text-light">
        <th>Kitap</th>
        <th>Kategori</th>
        <th>Basım Yılı</th>
        <th>Sayfa</th>
        <th>Durum</th>
    </tr>
    <tbody>
        @foreach (var k in Model)
        {
            <tr>
                <td>@k.Ad</td>
                <td>@k.Kategoriler.Kategori</td>
                <td>@k.BasimYili</td>
                <td>@k.Sayfa</td>
                <td>@k.Durum</td>
            </tr>
}
    </tbody>
</table>




